PATA/Service References/ServiceReferenceWebservPATA/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pata.apphb.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pata.apphb.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pata.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPata" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_carregaXml_InputMessage">
    <wsdl:part name="parameters" element="tns:carregaXml" />
  </wsdl:message>
  <wsdl:message name="IService1_carregaXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:carregaXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lerSintomasXML_InputMessage">
    <wsdl:part name="parameters" element="tns:lerSintomasXML" />
  </wsdl:message>
  <wsdl:message name="IService1_lerSintomasXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:lerSintomasXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logIn" message="tns:IService1_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logInResponse" message="tns:IService1_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logOut" message="tns:IService1_logOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logOutResponse" message="tns:IService1_logOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoggedIn" message="tns:IService1_isLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoggedInResponse" message="tns:IService1_isLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="carregaXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/carregaXml" message="tns:IService1_carregaXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/carregaXmlResponse" message="tns:IService1_carregaXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lerSintomasXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lerSintomasXML" message="tns:IService1_lerSintomasXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lerSintomasXMLResponse" message="tns:IService1_lerSintomasXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IService1/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://tempuri.org/IService1/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carregaXml">
      <soap:operation soapAction="http://tempuri.org/IService1/carregaXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lerSintomasXML">
      <soap:operation soapAction="http://tempuri.org/IService1/lerSintomasXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://pata.apphb.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>