PATA/Service References/ServiceReferenceWebservPATA/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPata" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DadosWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaDiagnosticos" nillable="true" type="tns:ArrayOfDiagnosticoWEB" />
      <xs:element minOccurs="0" name="listaSintomas" nillable="true" type="tns:ArrayOfSintomaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosWEB" nillable="true" type="tns:DadosWEB" />
  <xs:complexType name="ArrayOfDiagnosticoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosticoWEB" nillable="true" type="tns:DiagnosticoWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosticoWEB" nillable="true" type="tns:ArrayOfDiagnosticoWEB" />
  <xs:complexType name="DiagnosticoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaSintomas" nillable="true" type="tns:ArrayOfSintomaWEB" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orgao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tratamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosticoWEB" nillable="true" type="tns:DiagnosticoWEB" />
  <xs:complexType name="ArrayOfSintomaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SintomaWEB" nillable="true" type="tns:SintomaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSintomaWEB" nillable="true" type="tns:ArrayOfSintomaWEB" />
  <xs:complexType name="SintomaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SintomaWEB" nillable="true" type="tns:SintomaWEB" />
</xs:schema>