PATA/Service References/ServicePATA/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFPata" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getTokens_InputMessage">
    <wsdl:part name="parameters" element="tns:getTokens" />
  </wsdl:message>
  <wsdl:message name="IService1_getTokens_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTokensResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_carregaXml_InputMessage">
    <wsdl:part name="parameters" element="tns:carregaXml" />
  </wsdl:message>
  <wsdl:message name="IService1_carregaXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:carregaXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lerSintomasXML_InputMessage">
    <wsdl:part name="parameters" element="tns:lerSintomasXML" />
  </wsdl:message>
  <wsdl:message name="IService1_lerSintomasXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:lerSintomasXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllPacientes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPacientes" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllPacientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContas_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllContas" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllContasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContasTerapeutas_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllContasTerapeutas" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllContasTerapeutas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllContasTerapeutasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTerapeutas_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTerapeutas" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllTerapeutas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTerapeutasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllPacientesByTerapeuta_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPacientesByTerapeuta" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllPacientesByTerapeuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPacientesByTerapeutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNomeTerapeuta_InputMessage">
    <wsdl:part name="parameters" element="tns:getNomeTerapeuta" />
  </wsdl:message>
  <wsdl:message name="IService1_getNomeTerapeuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNomeTerapeutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllEpisodiosByIDPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEpisodiosByIDPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllEpisodiosByIDPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEpisodiosByIDPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaSistemaPericial_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaSistemaPericial" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaSistemaPericial_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaSistemaPericialResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:addPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_addPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPacienteClienteAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:addPacienteClienteAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_addPacienteClienteAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPacienteClienteAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:editPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_editPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:editPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editPacienteClienteAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:editPacienteClienteAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_editPacienteClienteAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:editPacienteClienteAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editTerapeuta_InputMessage">
    <wsdl:part name="parameters" element="tns:editTerapeuta" />
  </wsdl:message>
  <wsdl:message name="IService1_editTerapeuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:editTerapeutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editConta_InputMessage">
    <wsdl:part name="parameters" element="tns:editConta" />
  </wsdl:message>
  <wsdl:message name="IService1_editConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:editContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeTerapeuta_InputMessage">
    <wsdl:part name="parameters" element="tns:removeTerapeuta" />
  </wsdl:message>
  <wsdl:message name="IService1_removeTerapeuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeTerapeutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addConta_InputMessage">
    <wsdl:part name="parameters" element="tns:addConta" />
  </wsdl:message>
  <wsdl:message name="IService1_addConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addTerapeuta_InputMessage">
    <wsdl:part name="parameters" element="tns:addTerapeuta" />
  </wsdl:message>
  <wsdl:message name="IService1_addTerapeuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTerapeutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addEpisodioClinico_InputMessage">
    <wsdl:part name="parameters" element="tns:addEpisodioClinico" />
  </wsdl:message>
  <wsdl:message name="IService1_addEpisodioClinico_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEpisodioClinicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeTerapeutaFromPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:removeTerapeutaFromPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_removeTerapeutaFromPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeTerapeutaFromPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeConta_InputMessage">
    <wsdl:part name="parameters" element="tns:removeConta" />
  </wsdl:message>
  <wsdl:message name="IService1_removeConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removePaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:removePaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_removePaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:removePacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getTokens">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTokens" message="tns:IService1_getTokens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTokensResponse" message="tns:IService1_getTokens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logIn" message="tns:IService1_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logInResponse" message="tns:IService1_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logOut" message="tns:IService1_logOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logOutResponse" message="tns:IService1_logOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoggedIn" message="tns:IService1_isLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoggedInResponse" message="tns:IService1_isLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="carregaXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/carregaXml" message="tns:IService1_carregaXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/carregaXmlResponse" message="tns:IService1_carregaXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lerSintomasXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lerSintomasXML" message="tns:IService1_lerSintomasXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lerSintomasXMLResponse" message="tns:IService1_lerSintomasXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPacientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllPacientes" message="tns:IService1_getAllPacientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllPacientesResponse" message="tns:IService1_getAllPacientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllContas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllContas" message="tns:IService1_getAllContas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllContasResponse" message="tns:IService1_getAllContas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllContasTerapeutas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllContasTerapeutas" message="tns:IService1_getAllContasTerapeutas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllContasTerapeutasResponse" message="tns:IService1_getAllContasTerapeutas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTerapeutas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllTerapeutas" message="tns:IService1_getAllTerapeutas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllTerapeutasResponse" message="tns:IService1_getAllTerapeutas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPacientesByTerapeuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllPacientesByTerapeuta" message="tns:IService1_getAllPacientesByTerapeuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllPacientesByTerapeutaResponse" message="tns:IService1_getAllPacientesByTerapeuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNomeTerapeuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNomeTerapeuta" message="tns:IService1_getNomeTerapeuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNomeTerapeutaResponse" message="tns:IService1_getNomeTerapeuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEpisodiosByIDPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllEpisodiosByIDPaciente" message="tns:IService1_getAllEpisodiosByIDPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllEpisodiosByIDPacienteResponse" message="tns:IService1_getAllEpisodiosByIDPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaSistemaPericial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getListaSistemaPericial" message="tns:IService1_getListaSistemaPericial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getListaSistemaPericialResponse" message="tns:IService1_getListaSistemaPericial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPaciente" message="tns:IService1_addPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPacienteResponse" message="tns:IService1_addPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPacienteClienteAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPacienteClienteAdmin" message="tns:IService1_addPacienteClienteAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPacienteClienteAdminResponse" message="tns:IService1_addPacienteClienteAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editPaciente" message="tns:IService1_editPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editPacienteResponse" message="tns:IService1_editPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editPacienteClienteAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editPacienteClienteAdmin" message="tns:IService1_editPacienteClienteAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editPacienteClienteAdminResponse" message="tns:IService1_editPacienteClienteAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTerapeuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editTerapeuta" message="tns:IService1_editTerapeuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editTerapeutaResponse" message="tns:IService1_editTerapeuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editConta" message="tns:IService1_editConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editContaResponse" message="tns:IService1_editConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeTerapeuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeTerapeuta" message="tns:IService1_removeTerapeuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeTerapeutaResponse" message="tns:IService1_removeTerapeuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addConta" message="tns:IService1_addConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addContaResponse" message="tns:IService1_addConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTerapeuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addTerapeuta" message="tns:IService1_addTerapeuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addTerapeutaResponse" message="tns:IService1_addTerapeuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEpisodioClinico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addEpisodioClinico" message="tns:IService1_addEpisodioClinico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addEpisodioClinicoResponse" message="tns:IService1_addEpisodioClinico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeTerapeutaFromPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeTerapeutaFromPaciente" message="tns:IService1_removeTerapeutaFromPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeTerapeutaFromPacienteResponse" message="tns:IService1_removeTerapeutaFromPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeConta" message="tns:IService1_removeConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeContaResponse" message="tns:IService1_removeConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removePaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removePaciente" message="tns:IService1_removePaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removePacienteResponse" message="tns:IService1_removePaciente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTokens">
      <soap:operation soapAction="http://tempuri.org/IService1/getTokens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IService1/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://tempuri.org/IService1/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carregaXml">
      <soap:operation soapAction="http://tempuri.org/IService1/carregaXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lerSintomasXML">
      <soap:operation soapAction="http://tempuri.org/IService1/lerSintomasXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPacientes">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllContas">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllContas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllContasTerapeutas">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllContasTerapeutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTerapeutas">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllTerapeutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPacientesByTerapeuta">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllPacientesByTerapeuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNomeTerapeuta">
      <soap:operation soapAction="http://tempuri.org/IService1/getNomeTerapeuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEpisodiosByIDPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllEpisodiosByIDPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaSistemaPericial">
      <soap:operation soapAction="http://tempuri.org/IService1/getListaSistemaPericial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/addPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPacienteClienteAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/addPacienteClienteAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/editPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPacienteClienteAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/editPacienteClienteAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editTerapeuta">
      <soap:operation soapAction="http://tempuri.org/IService1/editTerapeuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editConta">
      <soap:operation soapAction="http://tempuri.org/IService1/editConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTerapeuta">
      <soap:operation soapAction="http://tempuri.org/IService1/removeTerapeuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addConta">
      <soap:operation soapAction="http://tempuri.org/IService1/addConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTerapeuta">
      <soap:operation soapAction="http://tempuri.org/IService1/addTerapeuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEpisodioClinico">
      <soap:operation soapAction="http://tempuri.org/IService1/addEpisodioClinico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTerapeutaFromPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/removeTerapeutaFromPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeConta">
      <soap:operation soapAction="http://tempuri.org/IService1/removeConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removePaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/removePaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://pata.apphb.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>