PATA/Service References/ServicePATA/WCFPata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPata" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DadosWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaDiagnosticos" nillable="true" type="tns:ArrayOfDiagnosticoWEB" />
      <xs:element minOccurs="0" name="listaSintomas" nillable="true" type="tns:ArrayOfSintomaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosWEB" nillable="true" type="tns:DadosWEB" />
  <xs:complexType name="ArrayOfDiagnosticoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosticoWEB" nillable="true" type="tns:DiagnosticoWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosticoWEB" nillable="true" type="tns:ArrayOfDiagnosticoWEB" />
  <xs:complexType name="DiagnosticoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaSintomas" nillable="true" type="tns:ArrayOfSintomaWEB" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orgao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tratamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosticoWEB" nillable="true" type="tns:DiagnosticoWEB" />
  <xs:complexType name="ArrayOfSintomaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SintomaWEB" nillable="true" type="tns:SintomaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSintomaWEB" nillable="true" type="tns:ArrayOfSintomaWEB" />
  <xs:complexType name="SintomaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SintomaWEB" nillable="true" type="tns:SintomaWEB" />
  <xs:complexType name="ArrayOfPacienteWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacienteWEB" nillable="true" type="tns:PacienteWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacienteWEB" nillable="true" type="tns:ArrayOfPacienteWEB" />
  <xs:complexType name="PacienteWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataNasc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="terapeutaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacienteWEB" nillable="true" type="tns:PacienteWEB" />
  <xs:complexType name="ArrayOfContaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContaWEB" nillable="true" type="tns:ContaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContaWEB" nillable="true" type="tns:ArrayOfContaWEB" />
  <xs:complexType name="ContaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContaWEB" nillable="true" type="tns:ContaWEB" />
  <xs:complexType name="ArrayOfTerapeutaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerapeutaWEB" nillable="true" type="tns:TerapeutaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerapeutaWEB" nillable="true" type="tns:ArrayOfTerapeutaWEB" />
  <xs:complexType name="TerapeutaWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contaID" type="xs:int" />
      <xs:element minOccurs="0" name="dataNasc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerapeutaWEB" nillable="true" type="tns:TerapeutaWEB" />
  <xs:complexType name="ArrayOfEpisodioClinicoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpisodioClinicoWEB" nillable="true" type="tns:EpisodioClinicoWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpisodioClinicoWEB" nillable="true" type="tns:ArrayOfEpisodioClinicoWEB" />
  <xs:complexType name="EpisodioClinicoWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="listaSintomas" nillable="true" type="tns:ArrayOfSintomaWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpisodioClinicoWEB" nillable="true" type="tns:EpisodioClinicoWEB" />
  <xs:complexType name="ArrayOfSistemaPericialWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SistemaPericialWEB" nillable="true" type="tns:SistemaPericialWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSistemaPericialWEB" nillable="true" type="tns:ArrayOfSistemaPericialWEB" />
  <xs:complexType name="SistemaPericialWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="diagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:decimal" />
      <xs:element minOccurs="0" name="tratamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SistemaPericialWEB" nillable="true" type="tns:SistemaPericialWEB" />
</xs:schema>